h1 {
  font-family: "Poppins", sans-serif;
  color: rgb(44, 44, 44);
  padding-bottom: 20px;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(44, 44, 44);
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
h3 {
  font-family: "DM Sans", sans-serif;
  color: rgb(44, 44, 44);
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 800px) {
  h1 {
    padding-top: 30px;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.grid_1-1 {
  padding-bottom: 70px;
}
.grid_1-1 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: rgb(78, 78, 78);
  line-height: 40px;
}
.grid_1-1 img {
  border-radius: 20px;
}
.om_mig2 {
  padding-top: 20px;
}

.cv_box {
  padding: 40px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
}
.grid_1-1-1-1 p,
li {
  line-height: 30px;
  font-family: "DM Sans", sans-serif;
  color: rgb(78, 78, 78);
  font-size: 16px;
  text-align: center;
}
.space {
  padding-top: 20px;
}
.stilling {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
