.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  padding-top: 30px;
}
@media (min-width: 800px) {
  .grid_1-1-1-1 {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
  }
}

a p,
a:hover,
a:active {
  text-align: center;
  padding-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: rgb(78, 78, 78);
  font-weight: bolder;
}
