* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*BURGER-MENU*/
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding-left: 30px;
}
.bar {
  background-color: black;
  margin: 3px 0;
  transition: 0.4s;
  width: 30px;
  height: 2px;
}
.close-icon {
  display: none;
  cursor: pointer;
}
.close-icon .bar {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  transition: 0.4s;
}
.burger-menu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-3px, -2px);
}
.burger-menu.open .bar:nth-child(2) {
  opacity: 0;
}
.burger-menu.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-14px, -7px);
}
/*BURGER-MENU*/
@media (max-width: 800px) {
  .burger-menu {
    display: flex;
  }
  .nav ul {
    display: none;
  }
  .nav.active ul {
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 0;
    background-color: white;
    list-style: none;
    border-radius: 10px;
  }
  .nav.active ul li {
    padding: 10px;
  }
}
