* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*NAV*/
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
nav li {
  color: black;
  text-decoration: none;
}
nav a {
  color: black;
  text-decoration: none;
  display: inline-block;
}
nav a:link {
  text-decoration: none;
}
nav a:hover,
nav a:active,
nav li.active a {
  text-decoration: underline;
}
/*NAV*/

footer {
  text-align: center;
  padding-top: 100px;
}
