.tilbage a {
  color: rgb(113, 113, 113);
  text-decoration: none;
  font-size: 45px;
  cursor: pointer;
}
.tilbage a:hover {
  color: black;
}
h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(78, 78, 78);
  font-size: 40px;
  padding-bottom: 40px;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(78, 78, 78);
  padding-top: 70px;
  padding-bottom: 15px;
  font-size: 30px;
}
h3 {
  font-family: "Poppins", sans-serif;
  color: rgb(78, 78, 78);
}
p,
li {
  font-family: "DM Sans", sans-serif;
  color: rgb(113, 113, 113);
  font-size: 18px;
  line-height: 35px;
}
a {
  font-family: "DM Sans", sans-serif;
  color: rgb(113, 113, 113);
  font-size: 18px;
  line-height: 30px;
}
a:hover {
  color: rgb(44, 44, 44);
}
.introtekst {
  border-style: solid;
  border: none;
  border-radius: 20px;
  background-color: white;
  padding: 35px;
  text-align: center;
}

.mindmap,
.moodboard,
.styletile,
.storyboard {
  padding-top: 20px;
  text-align: center;
}
.praesentation,
.prototype {
  padding-top: 40px;
}
.observation,
.interview {
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
