.tilbage a {
  color: rgb(113, 113, 113);
  text-decoration: none;
  font-size: 45px;
  cursor: pointer;
}
.tilbage a:hover {
  color: black;
}
h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(78, 78, 78);
  font-size: 40px;
  padding-bottom: 50px;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(78, 78, 78);
  padding-bottom: 20px;
}
h3 {
  font-family: "Poppins", sans-serif;
  color: rgb(78, 78, 78);
  padding-bottom: 10px;
}
p,
li {
  font-family: "DM Sans", sans-serif;
  color: rgb(113, 113, 113);
  font-size: 18px;
  line-height: 30px;
}
a {
  font-family: "DM Sans", sans-serif;
  color: rgb(113, 113, 113);
  font-size: 18px;
  line-height: 30px;
}
a:hover {
  color: rgb(44, 44, 44);
}
.grid_1-1 a,
.virksomhed a {
  color: rgb(78, 78, 78);
  font-family: "DM Sans", sans-serif;
  color: rgb(113, 113, 113);
  font-size: 18px;
}
.grid_1-1 a:hover,
.virksomhed a:hover {
  color: rgb(44, 44, 44);
}
.kode_tekst {
  padding-top: 20px;
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .sitemap1,
  .styletile1,
  .moodboard,
  .styletile2,
  .wireframes,
  .premiere,
  .kode {
    padding-top: 60px;
  }
}
@media (max-width: 800px) {
  .grid_1-1 {
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 70px;
  }
  h2,
  h3 {
    padding-top: 30px;
  }
  img {
    padding-top: 100px;
  }
  .wireframes_tekst {
    padding-bottom: 100px;
  }
}
.introtekst,
.virksomhed,
.test {
  border-style: solid;
  border: none;
  border-radius: 20px;
  background-color: white;
  padding: 35px;
  text-align: center;
}
.lighthouse {
  text-align: center;
}
.wireframes_tekst {
  padding-bottom: 100px;
}
